/Unity.Mono.csproj
/Unity.ThirdParty.csproj
/Unity.sln
/Unity.sln.DotSettings.user
/Assembly-CSharp-Editor-firstpass.csproj
/Unity.Hotfix.csproj
/Unity.HotfixView.csproj
/Unity.Model.csproj
/Unity.ModelView.csproj
/Assembly-CSharp-Editor.csproj