/Unity.Editor.csproj
/Unity.Hotfix.csproj
/Unity.HotfixView.csproj
/Unity.Model.csproj
/Unity.Mono.csproj
/Unity.ThirdParty.csproj
/Unity.sln
/Unity.sln.DotSettings.user
/Assembly-CSharp-Editor-firstpass.csproj
/Unity.Hotfix.csproj
/Unity.HotfixView.csproj
/Unity.Model.csproj
/Unity.ModelView.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-firstpass.csproj
/BuglySdk.csproj
/HybridCLR.Editor.csproj
/HybridCLR.Runtime.csproj
/NewAssembly.csproj
/Substance.EditorHelper.csproj
/Substance.Platform.csproj
/Unity.2D.Sprite.Editor.csproj
/Unity.BuglySdk.csproj
/AndroidProject