<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDuration</key>
    <false />
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <false />
    <key>CFBundleAllowMixedLocalizations</key>
    <true />
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>危境</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIdentifier</key>
    <string>${PRODUCT_BUNDLE_IDENTIFIER}</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>${PRODUCT_NAME}</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.19.6</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>sinaWeibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb568898243</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>weChat</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx638f7f0efe37a825</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>QQ</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent101883752</string>
          <string>QQ06129F68</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>mobRestoreScene</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>ssdk2d21337c7dc80</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>148</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>sinaweibosso</string>
      <string>weibo</string>
      <string>weibosdk</string>
      <string>weibosdk2.5</string>
      <string>sinaweibo</string>
      <string>sinaweibohd</string>
      <string>weixin</string>
      <string>wechat</string>
      <string>weixinULAPI</string>
      <string>mqq</string>
      <string>mqqapi</string>
      <string>mqqwpa</string>
      <string>mqqbrowser</string>
      <string>mttbrowser</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV4</string>
      <string>wtloginmqq2</string>
      <string>mqzone</string>
      <string>mqzoneopensdk</string>
      <string>mqzoneopensdkapi</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqqapiwallet</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkdataline</string>
      <string>mqqgamebindinggroup</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>tencentapi.qq.reqContent</string>
      <string>tencentapi.qzone.reqContent</string>
      <string>tim</string>
      <string>timapi</string>
      <string>timopensdkfriend</string>
      <string>timwpa</string>
      <string>timgamebindinggroup</string>
      <string>timapiwallet</string>
      <string>timOpensdkSSoLogin</string>
      <string>wtlogintim</string>
      <string>timopensdkgrouptribeshare</string>
      <string>timopensdkapiV4</string>
      <string>timopensdkdataline</string>
      <string>wtlogintimV1</string>
      <string>timapiV1</string>
      <string>mqqopensdkminiapp</string>
    </array>
    <key>LSRequiresIPhoneOS</key>
    <true />
    <key>MOBAppkey</key>
    <string>2d21337c7dc80</string>
    <key>MOBAppSecret</key>
    <string>a2c24f564def8b4a450a88491e5cc353</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true />
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>Use Camera</string>
    <key>NSContactsUsageDescription</key>
    <string>开启通讯录好友功能</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Use Photo</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>保存照片到系统相册</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>保存照片到系统相册</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen-iPhone</string>
    <key>UILaunchStoryboardName~ipad</key>
    <string>LaunchScreen-iPad</string>
    <key>UILaunchStoryboardName~iphone</key>
    <string>LaunchScreen-iPhone</string>
    <key>UILaunchStoryboardName~ipod</key>
    <string>LaunchScreen-iPhone</string>
    <key>UIPrerenderedIcon</key>
    <false />
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
      <string>metal</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true />
    <key>UIRequiresPersistentWiFi</key>
    <false />
    <key>UIStatusBarHidden</key>
    <true />
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationLandscapeRight</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false />
    <key>Unity_LoadingActivityIndicatorStyle</key>
    <integer>-1</integer>
    <key>UnityBuilder</key>
    <string>12369521973220</string>
    <key>UnityCloudProjectID</key>
    <string></string>
    <key>UnityCrashSubmissionURL</key>
    <string></string>
  </dict>
</plist>
